#create-acc2
{
  /* Layout Properties */

top: 143px;
left: 763px;
width: 229px;
height: 31px;

/* UI Properties */

text-align: center;
font: normal normal 600 26px/31px Golos Text;
letter-spacing: 0px;
color: #333333;
opacity: 1;
}
.logo
{
  top: 15px;
left: 52px;
width: 166px;
height: 40px;

/* UI Properties */

background: transparent url('img/Group 3.png') 0% 0% no-repeat padding-box;
opacity: 1;
}



#username {
  margin-top: 15px;
}
#firstcontainer {
  box-shadow: 0px 0px 20px #97959529;
}

#col1 {
  height: 350px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  opacity: 1;
}
.box {
  top: 134px;
  left: 124px;
  width: 309px;
  height: 59px;

  opacity: 1;

  border-bottom: 1px solid #ccc;
  padding: 8px;
}
#col1 {
  height: 350px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  opacity: 1;
}
#col1 #basicTic
{

width: 40px;
height: 40px;

background: #398AD6 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 20px;
}
#col1 #basicTic img{
/* Layout Properties */

width: 21px;
height: 15px;

/* UI Properties */

background: #398AD6;
opacity: 1;
}


.box {
  top: 134px;
  left: 124px;
  width: 309px;
  height: 59px;

  opacity: 1;

  border-bottom: 1px solid #ccc;
  padding: 8px;
}

#col2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 50px #97959529;
  border: 1px solid #eeeeee;

  border-radius: 20px;

  opacity: 1;
}
#col2 button
{
  left: 710px;
  background-color: white;
  border-color:#E6E6E6;

top: 202px;
left: 887px;
width: 213px;
height: 44px;

background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #ADADAD29;
border-radius: 6px;
opacity: 1;
}

.social-login button {
  left: 100px;
  height: 44px;
  width: 213px;
  margin-right: 15px;
  margin-top: 5px;
  font: Golos Text, SemiBold;
  background-color: white;
  border-color: #e6e6e6;
}

.social-login #fb {
  top: 212px;
  left: 951px;
  width: 25px;
  height: 25px;

  /* UI Properties */

  background: transparent url("img/Group 3133.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.social-login #gg {
  /* Layout Properties */

  top: 212px;
  left: 951px;
  width: 25px;
  height: 25px;

  /* UI Properties */

  background: transparent url("img/Group 3133.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.custom-file-label {
  width: 236px;
  align-items: center;
}

img {
  /* Layout Properties */

  top: 1214px;
  left: 790px;
  width: 19px;
  height: 19px;

  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
#Sendme {
  /* Layout Properties */

  top: 1213px;
  left: 549px;
  width: 344px;
  height: 20px;

  /* UI Properties */

  text-align: left;
  font: normal normal medium 16px/10px Golos Text;
  letter-spacing: 0px;
  color: #394649;
  opacity: 1;
}

#continue {
  top: 1125px;
  left: 521px;
  width: 300px;
  height: 55px;
}
